
.budget {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.monthly-budget-display {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-items: center;
    align-items: center;
}

.add-category-form {
    grid-row: 2;
    grid-column: 1;
}

.select-category {
    height: 1.5rem;
    margin: 5px;
    border: none;
    background-color: #cac9ce;
}

.budget-category-table {
    grid-row: 3;
    grid-column: 1;
}