* {

}


.left-menu {
    grid-column: 1;
    grid-row: 2;
    background-color: #fafafa;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    margin: 5px;
    width: 190px;
    padding: 10px 0px;
    /* display: flex;
    justify-content: center; 
    align-items: center;  */
}

.left-menu ul {
    list-style-type: none;
    padding: 20px 5px 0px 15px;
    margin: 0px;
}

.left-menu-item {
    list-style: none;
    padding: 20px 0px;
}

.left-menu-item>a {
    color: #343435;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 500;
}

.left-menu-item>a:hover {
    /* color: #343435; */
    font-weight: 700;
}

.left-menu-item>a:active {
    color: #949496;
    /* font-size: 1.5rem; */
}
