/* * {

} */

.main-div {
  display: grid;
  grid-template-rows: 90px;
  grid-template-columns: 200px;
  width: 99.9%;
  /* min-height: 100vh; */
  height: 99.9vh;
  background-color: #efeff3;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #343435;
}
