.txn-form {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.row {
    margin-bottom: 20px;
    display: inline-block;
}

.input-field label {
    margin-left: 10px;
}

.radio-field {
    margin-right: 20px;
}

.table-row {
    border: 1px solid #ccc;
}